ion-header {
    ion-toolbar {
      --background: #1e272e; /* Cambia el fondo del toolbar a azul */
      --color: #ffffff; /* Cambia el color del texto a blanco */
    }
  }
  
.reset-password-background {
    --background: #1e272e; /* Fondo gris claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la pantalla */
  }
  
  /* Estilo de la tarjeta de restablecimiento */
  .reset-card {
    background-color: #ffffff;  /* Fondo blanco */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(245, 245, 247, 0.514); /* Cambié la sombra a un azul */
    width: 100%;
    max-width: 400px;  /* Ancho máximo de la tarjeta */
    text-align: center;
  }
  
  /* Estilo del encabezado */
  .reset-header h2 {
    color: #1e272e;  
    margin-bottom: 10px;
  }
  
  .reset-header p {
    color: #7f8c8d;  /* Color gris para el texto explicativo */
    margin-bottom: 20px;
    font-size: 14px;
  }
  
  /* Estilo para el ion-item y el campo de entrada */
  ion-item {
    --background: #1e272e;  /* Cambia el fondo del campo de entrada a gris claro */
    --color: #ecf0f3;  /* Cambia el color del texto del campo de entrada */
    border-radius: 8px;  /* Bordes redondeados */
  }
  
  ion-input {
    --placeholder-color: #7f8c8d;  /* Cambia el color del placeholder */
    --color: #e6eaec;  /* Cambia el color del texto */
  }
  
  /* Botón de restablecer */
  ion-button {
    --background: #1e272e;  /* Cambia el color del botón a azul */
    --color: #ffffff;  /* Cambia el color del texto del botón a blanco */
    margin-top: 20px;
    border-radius: 8px;
  }
  
  /* Enlace para volver a iniciar sesión */
  .back-to-login {
    margin-top: 15px;
  }
  
  .back-to-login ion-router-link {
    color: #1e272e;  /* Azul para el enlace */
    text-decoration: none;
    font-size: 14px;
  }
