<ion-header>
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding reset-password-background">

  <div class="reset-card">
    <div class="reset-header">
      <h2>¿Olvidaste tu contraseña?</h2>
      <p>Ingresa tu correo electrónico para restablecer tu contraseña</p>
    </div>

    <!-- Campo para el correo electrónico -->
    <ion-item>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-input [(ngModel)]="email" type="email" placeholder="Correo electrónico" required></ion-input>
      <ion-text *ngIf="emailError" color="danger">
      </ion-text>
    </ion-item>

    <!-- Botón de restablecer contraseña -->
    <ion-button expand="block" (click)="resetPassword()">Restablecer Contraseña</ion-button>
    
  </div>

</ion-content>

