<ion-header> 
  <ion-toolbar>
    <ion-title>Reminder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding login-background">

  <!-- Imagen en la parte superior -->
  <div class="login-logo">
    <img src="assets/img/logo.png" alt="reminder">
  </div>

  <!-- Formulario de inicio de sesión -->
  <ion-item>
    <ion-label position="floating">Correo Electrónico</ion-label>
    <ion-input [(ngModel)]="email" #emailInput="ngModel" required type="email"></ion-input>
    <ion-text *ngIf="emailInput.invalid && emailInput.touched" color="danger">
      <p>¡Este campo es obligatorio!</p>
    </ion-text>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input [(ngModel)]="password" #passwordInput="ngModel" type="password" required></ion-input>
    <ion-text *ngIf="passwordInput.invalid && passwordInput.touched" color="danger">
      <p>¡Este campo es obligatorio!</p>
    </ion-text>
  </ion-item>

  <ion-button expand="block" (click)="login()" [disabled]="!email || !password">Ingresar</ion-button>

  <ion-button expand="block" fill="clear" (click)="resetPassword()">Restablecer Contraseña</ion-button>
</ion-content>
