<ion-header>
  <ion-toolbar>
    <ion-title>Reminder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Título</ion-label>
    <ion-input [(ngModel)]="memoryTitle"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Descripción</ion-label>
    <ion-input [(ngModel)]="memoryDescription"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Ubicación</ion-label>
    <ion-textarea readonly>{{ memoryLocation }}</ion-textarea>
  </ion-item>

  <!-- Botón para capturar una foto o seleccionar desde la galería -->
  <ion-button expand="block" (click)="takePicture(true)">Seleccionar de la Galería</ion-button>

  <!-- Input file solo para el navegador, oculto -->
  <input type="file" id="fileInput" (change)="onFileSelected($event)" accept="image/*" hidden />

  <!-- Área para mostrar la imagen seleccionada o capturada -->
  <div *ngIf="capturedImage">
    <h3>Imagen Seleccionada:</h3>
    <img [src]="capturedImage" alt="Imagen Capturada" style="width: 100%; height: auto;">
  </div>

  <!-- Botón para guardar el recuerdo -->
  <ion-button expand="block" (click)="saveMemory()">Guardar Recuerdo</ion-button>
</ion-content>



