ion-content {
  --background: #222f3a !important;  
}

ion-toolbar {
  --background: #1e272e;  /* Fondo oscuro en el header */
  --color: #ffffff;  /* Texto blanco en el título */
}
ion-menu::part(backdrop) {
  background-color: #9da2a5;
  
}
/* Estilo del botón del menú en la toolbar */
ion-menu-button {
  --color: #ffffff;  /* Botón del menú con texto blanco */
}


