<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Reminder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="welcome-container">
    <h2>¡Bienvenido, {{ username }}!</h2>
    <p>¿Qué quieres recordar?</p>
    <ion-button expand="block" (click)="toggleAddReminder()">Agregar recordatorio</ion-button>
<!-- Campo para agregar un recordatorio simple -->
<div *ngIf="isAddingReminder" class="add-reminder-container">
  <ion-item>
    <ion-label position="floating">Título del recordatorio</ion-label>
    <ion-input [(ngModel)]="newReminderTitle"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="saveReminder()">Guardar recordatorio</ion-button>
</div>

<!-- Lista de recordatorios guardados -->
<ion-list *ngIf="reminders.length > 0">
  <ion-item *ngFor="let reminder of reminders">
    <ion-label>{{ reminder.title }}</ion-label>
  </ion-item>
</ion-list>
</div>
</ion-content>